.github-stats {
  display: flex;
  flex-direction: column;
  align-items: center; /* Aligns items in the center horizontally */
}

.github-card {
  margin: 10px;
  max-width: 300px; /* Adjust the max-width as needed */
}



body {
  background-color: black;
}

*{
  color:white;
  padding:5px;
  font-weigth:bolder;
}

.thank {
  padding-top: 20px;
  height: auto;
  text-shadow: 2px 2px 5px black;
  text-align: center;
}