body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: whitesmoke;
  background-color: black;
}

@keyframes changeBackground {
  0% {
    background-image: url('back.png');
  }
  33.33% {
    background-image: url('back1.png');
  }
  66.67% {
    background-image: url('back2.png');
  }
  100% {
    background-image: url('back.png');
  }
}

header {
  background-image: url('back.png');
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  animation: changeBackground 90s infinite; /* Change every 30 seconds */

  
}





h1 {
    font-size: 2em;
    margin: 0;
}

p {
    font-size: 1em;
    margin: 5px 0;
}

nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #000;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
  padding-left: 5px; 
  /* justify-content: space-between; */
}

.project-card {
    width: calc(33% - 20px);
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    /* padding: 20px; */
    text-align: center;
  margin-right: 5px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.project-card:hover {
    transform: scale(1.02);
border: solid;
}

.project-card img {
    width: 100%;
    margin-bottom: 10px;
}

.project-card h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
  color: black;
}

.project-card p {
    font-size: 1em;
    margin-top: 0;
  color: gray;
}

.project-card a {
    text-decoration: none;
}

#social {
  color: white;
  background-color: black;
  text-align: center;
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 15px; /* Adjust border radius for a softer look */
  border: solid black; /* Remove border */;
  cursor: pointer; /* Change cursor to pointer for better UX */
text-decoration: none;
  padding-top: 10px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 1); */
  

}

#social:hover {
  background-color: #333; 
  color: whitesmoke;
  border-radius: 0px;
  border: solid yellow; /* Remove border */;

}

.socialclass{
  padding: 20px;
}

.sblock{
  background-color:#23272A;
  padding: 10px;
  border-radius: 5px;
  margin-right: 5px;
}

.saffron
{
  color: orange;
}

.white
{
  color: white;
}

.green
{
  color: green;
}

.cap{
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
}

.websec
{
  padding-top: 20px;
}

.copy
{
  text-align: center;
}

.chalenge
{
  font-family: Arial, Helvetica, sans-serif;
display: flex;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.buttonn
{
  background-color: lime;
  border-radius: 5px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.chalenge1
{
  text-decoration: none;
color: white;
}